Clarify 'deviation' substatements to match ABNF grammar

As mentioned in:
https://www.rfc-editor.org/errata/eid5663
https://mailarchive.ietf.org/arch/msg/netmod/uR-LCpD1BLA_9cXPZJrqX3IoPOc

The current table in RFC7950, Section 7.20.3.2 lists all permitted substatements however each argument to "delete" is treated separately per ABNF.  If we are not going to add other possible substatements (e.g. mandatory, min-elements, etc..) to the grammar, then this section table needs to be adjusted to reflect per argument behavior

I see no harm in clarifying which deviation child statements are supported, depending on the type of deviation.

I would say that this must at least be backcompat: high, complexity: low

Andy: if ABNF is wrong, then it should be fixed.
Andy: isn't clear what is being asked for.