Create a way for a statement to tie-in with augment/deviation

RFC7950 section 7.19 specifically says:

``   An extension can allow refinement (see Section 7.13.2) and deviations
   (Section 7.20.3.2), but the mechanism for how this is defined is
   outside the scope of this specification.``

Via refine this extends to augment and uses. I think there should be a way for an extension to specify that it is a valid target for augment/deviation/refine separately to specifying how augment/deviation/refine work. This will allow parsers to recoginize inter-statement interactions, like those encountered with augment/deviate + tailf:action -- which fall completely outside of specification and parsers not implementing tailf:action have nothing to go on.
This may require clarifying how augment/defination/refine statement arguments are interpreted when they reference extension statements.

Perhaps solved by "critical" extensions (Issue #49), though more may be needed.

Andy: path-stmt has to be constructed from data-def stmts, and hence cannot possibly ref something added by extensions.


Unclear