clarify NP-containers

Searching the NETCONF list archives for the word "non-presense" found the following:

 * 2019-06-21: restconf 'get' on non-presence container
 * 2018-06-28: Existence of Non-Presence Containers
 * 2016-07-11:  What should a server response be?  (70+ responses in 30 days!) 



+1 on clarifying the behavior of NP-containers, although some of this clarification might need to be in future protocol drafts rather than the base YANG spec.

Another ambiguity regarding NP-containers in the NETMOD mailing list:
  - 2019-06-25: mandatory choice with non-presence container case

One option that may be worth considering is to get rid of the distinction between P and NP altogether, with these two additional rules:

- the server shall not delete client-created containers on its own
- **must** constraints on a container become effective only after the container instance is created

Here is [another thread](https://mailarchive.ietf.org/arch/browse/netmod/?q=subject%3A%22YANG%201.1%20Clarification%22&index=D2o5oP-81JiBhCtg4zglaz7P2kg&gbt=1) related to this issue

Personally I think that the distinction is useful and makes sense.  But I think that the YANG and protocol specifications should put more constraints on how the servers are expected to behave.

However, I do find the XPath context definition confusing/inconsistent with the np-containers not really existing:

```
   If a node that exists in the accessible tree has a non-presence
   container as a child, then the non-presence container also exists in
   the accessible tree.
```


I think current lifecycle (as implied by RFC7950) is very much consistent and I do not believe it should be changed. They are extremely useful for pruning data tree parts which have no semantic meaning, as well as anchoring enforcement points for things like MUST constraints.

I believe access protocols (i.e. NETCONF/RESTCONF) should instead be clarified to explicitly define lifecycle rules for NP containers.


Related, the `list` and `leaf-list` nodes are similarly unclear as to if they exist when empty.

Somewhat related,`list` and `leaf-list` are also unclear as to if the list exists when empty.

Regarding Lada's "must constraints on a container become effective only after the container instance is created", this is root issue for why I add `presence` statements in models with mandatory descendents like this:
```
        presence
          "Blah, blah, blah. 
           This statement is present so the mandatory descendant
           nodes do not imply that this node must be configured.";
```

NP containers have caused a lot of confusion and support tickets.

Maybe the protocol documents need to be clarified how NP containers work, not YANG.

Must do: complexity: medium, bc: medium, importance: high


Three folks point to protocol document clarification.  This sounds like the "protocol binding" document discussed in my IETF 120 presentation.  I'm guessing that Andy's importance: high is for the binding doc (not Lada's idea)

What would this clarification look like?

How would such a clarification negate my need to make P-containers just to switch-off mandatories?  Or is that idiom now best practice?

Andy: what would the clarification be?   (same as my comment above)

Maybe just document in 2.0 'presence' section, it could mentioned that this is an alternative use-case for P-container

If no one has a better idea, the XPath principle
```
   If a node that exists in the accessible tree has a non-presence
   container as a child, then the non-presence container also exists in
   the accessible tree.
```
could be used for the YANG data meaning if a NP container is top-level or a child of an existing node, the NP container also "exists" for all purposes (not just XPath accessible tree). This does not mean it must actually be present in the datastore, it must only seem like it is.

Another clarification would also be okay, the core of the issue is this text from the 7.5.1. section
```
   In particular, the presence of the
   container node with no child nodes is semantically equivalent to the
   absence of the container node.  YANG calls this style a "non-presence
   container". 
```
because there are lots of cases (enumerated in this issue) where this is simply not true.

> Maybe just document in 2.0 'presence' section, it could mentioned that this is an alternative use-case for P-container

Yes, the effects of using NP containers should be explicitly mentioned (such as those `mandatory` child nodes) and also that to avoid it, P containers can be used.

> What would this clarification look like?

Ugh, it's been a long time since I wrote that comment :)

Protocol documents typically contain bare minimum examples and quite critically are lacking some of the more arcane things.

What I would suggest is documenting what the expected/possible/suggested behaviour is, as an example, https://www.rfc-editor.org/rfc/rfc8040#appendix-B.2 shows a number of operations, but there is little in terms of before- and after-state discussion.

The first request in https://www.rfc-editor.org/rfc/rfc8040#appendix-B.2.1 does not really say what the initial state is. It is implied that non-existing NP containers are created, but there is no discussion about this.

Similarly, there is discussion of what 'PUT /restconf/data/example-jukebox:jukebox' with an empty body does. In OpenDaylight it is equivalent of a NETCONF "remove" operation, but explaining exactly why we believe it is the right thing to do involves quite a bit of reasoning on RFC7950 semantics. RFC8040 section 4 only says:
```
   The "remove" edit operation attribute for the NETCONF <edit-config>
   RPC operation is not supported by the HTTP DELETE method.
```

I honestly do not remember which document says what where and how exactly improve them, sorry.
But my experience with end users is that pretty much noone lawyer-reads RFCs to build a mental picture of the model. Most users just follow examples and draw their conclusions based on that. Some users cross-reference examples with the RFC text. Precious few cross-reference multiple documents.

> How would such a clarification negate my need to make P-containers just to switch-off mandatories? Or is that idiom now best practice?

Not sure about best practices these days, but P-containers are a sorely under-marketed aspect of the language.
I only discovered their magic when I was making sense of what RFC7950 'mandatory node' really means for our implementation.

One aspect that should definitely be a best practice is to use P-containers instead of
```
    // in first revision we have
    leaf enable { boolean true; }
    leaf frob { when "../enable = true"; type string; };
    // and then we added
    container something-more-complex { when "../enable = true"; <bunch of stuff> }
    // and then we added
    leaf bax { when "../enable = true"; type boolean; };
``` 
because it ties in with the 'YANG performance' thread. If you started with
```
    container enable {
        presence "...";
        leaf frob { type string; }
    }
```
your datastore implementation would have to do zero XPath evals instead of three, while retaining the same semantics and providing more powerful extensibility.

Highlighting this aspect of P-containers and contrasting them to NP-containers would go a long way -- and it is just improving guidance to model authors, no specification changes needed :)

There are multiple NP container issues here.

### YANG constraints
mandatory and min-elements are inherited, creating mandatory NP containers.
Use P-container instead to stop this from happening.

P-container is more efficient than when-stmt on the child node(s)

### NP containers in edit operations

The create and delete operations are picky.
Server implementations do not treat the NP container as "present" the same way.
Therefore, these edit operations are not as interoperable as possible.

### NP containers in retrieval operations

The get* operations and the with-defaults=report-all, report-all-tagged need
clarification for NP containers

- default NP container: has a child (or reachable) leafy with a default-stmt 
- empty NP container: does not have any child nodes or default leafs present

We should also specify the exact expected behaviour for the NETCONF 'none' operation on NP containers.