Clarify canonical order in RFC 7950

RFC 7950 states this:

`   The ABNF grammar [RFC5234] [RFC7405] defines the canonical order.`

But the ABNF also has sections that state:

`  ;; these stmts can appear in any order`

These two statements seem to cause some confusion, and hence it might be helpful to clarify that the ";; these stmts can appear in any order" does not remove the need to list statements in the order listed in the ABNF for them to be regarded as being in canonical order.


Clarification needed.
The order in the ABNF is the canonical order (I think)
Verify or clarify this detail.

How does pyang --strict decide the canonical order for these unordered statements?


Must do

Kent: What is the real issue?  - what's breaking?
Andy: canonical order != allowed-order?
Rob: Just need a clarification
Andy: statement-order != data-order.  this issue regards just the statement order