Simplify 'when' statement processing

Currently during the processing of a config change it is necessary to check whether any 'when' statements have become invalid and then implicitly delete the associated configuration as part of the config change. (RFC 7950 Section 8.2).

I propose that we consider deprecating/removing this functionality in a future revision of YANG for the following 3 reasons:

1) This behaviour is complex to implement efficiently (e.g. due to possible recursive when statement dependencies).

2) The behaviour could be very surprising to a client.  E.g. a seemingly innocuous config change could end up causing a much wider reaching, and impactful config change.

3) It doesn't currently interact well with NACM.  The NACM processing is applied to the original config change, not the config change after the implicit when statement deletes has been processed.  This seems like a security hole because it could allow a NACM filter to be (theoretically) bypassed.  Certainly, it adds unnecessary complexity/thought to the security considerations.


You may have similar interactions with choice/case statements. It can become very complex. 
I doubt that current toolkits can detect a circular when condition reference chain.

This has been discussed before and the outcome so far was always that the automatic deletion is desirable.

I agree with Jurgen.  If you don't want automatic delete in some situation, use "must" instead of "when".

I could be wrong, but my understanding is that some implementations don't implement the automatic deletion associated with a when statement because of the required complexity to implement this efficiently.

Hence, it seems that even today a robust client probably needs to have the option to explicitly delete the nodes predicated by a when statement anyway, in case the server does not follow the standard.

This auto-deletion feature is one of the things that do not belong to the definition of YANG as a data modelling language because it assumes some server context and behaviour that needn't be present. YANG spec should only define what is valid and what isn't, perhaps with different levels of validity - for example, my _yangson_ library reports `SchemaError` for when violations but `SemanticError` for must violations.

Imagine an off-line instance validation tools such as _yang2dsdl_ plugin of pyang. If I let it validate an instance in which a when constraint is violated, it will just report that in is invalid. Nobody expects pyang to start deleting the offending nodes. The statements of sec. 8.2 make no sense whatsoever in this situation.

On the other hand, sec. 8.2 could be included in a *protocol* spec, if the designers wish to do so. 

8.2 says "If a request modifies a configuration data node..."  - in your case of off-line validation, there is no such request, so no deletion is going on.

This said, I agree that if we split the document, we need to think about where this text goes.

Closed during Feb 6 Virtual Interim meeting.