remove the "anyxml" statement

**Synopsis:**

The "anyxml" statement was made in RFC 6020, before JSON support was added, but its value is questionable now...

Propose to remove (if YANG-next == YANG 2.0) or deprecate (if YANG-next == YANG 1.2).

**More info:**

[RFC 7950, Section 1.1 (Summary of Changes from RFC 6020)](https://tools.ietf.org/html/rfc7950#section-1.1) says:

```
   o  Added a new data definition statement "anydata" (see
      Section 7.10), which is RECOMMENDED to be used instead of "anyxml"
      when the data can be modeled in YANG.
```

[RFC 7951, Section 5.6 (5.6.  The "anyxml" Data Node)](https://tools.ietf.org/html/rfc7951#section-5.6) provides very little guidance for how to encode an "anyxml" node in JSON, other than saying that it `the value MUST satisfy I-JSON constraints`.

CBOR support follows the same example: [draft-ietf-core-yang-cbor-12, Section-4.6 (The 'anyxml')](https://tools.ietf.org/html/draft-ietf-core-yang-cbor-12#section-4.6)


do not support removal.
continue to recommend anydata instead of anyxml

IMO nobody actually implements these 2 statements differently.
It is a non-problem


YANG 2.0 should recognize the difference between errors and warnings.
Use of anyxml in a YANG 2.0 module should cause a warning message to use anydata instead

Do not support removal at all since this is an extreme NBC change.
A "deprecation phase" MUST be done first. 
Maybe remove in YANG 3.0 if that ever happens.


Disagree.  Immediate removal seems possible.

Of course, a YANG2 module importing a YANG/1.1 module, could import an `anyxml`, which needs to continue to be handled.

We should ensure that new modules use `anydata` (never `anyxml`)

OK to removal in 2.0.

Imported modules should always be parsed according to the version in that module.

There is a supposed use-case for anyxml, which is to store HTML like a MOTD banner.
Nobody uses anyxml anymore, for this use-case or anything else.

Can we deprecate the statement. I don't support removal, but support strongly discouraging its usage.

Andy likes deprecation.

Rob: is now a good time to obsolete 6020 (YANG/1.0)?
