Enable a "feature" to be OR-ed into an "if-feature"

Currently is is possible to refine/augment a grouping to have addition "if-feature" statements ([RFC 7950, Section 7.13.2)](https://datatracker.ietf.org/doc/html/rfc7950#section-7.13.2) and [RFC 7950, Section 7.17.1)](https://datatracker.ietf.org/doc/html/rfc7950#section-7.17.1)).  BTW, for "refine", RFC 7950 says `may get additional "if-feature" expressions`, but shouldn't it *_replace_* the existing expressions?

Whilst not specifically stated in RFC 7950, which is possibly another YANG Next issue, multiple "if-feature" statements are AND-ed together.  Thus there is no way for a consuming module to OR-in a new condition.

For instance, the netconf-client-server draft contains the statement `if-feature "ssh-listen or tls-listen"`.  But now that NETCONF-over-QUIC support is being added, it would be good to be able to OR-in a `quic-listen` feature without needing to update (read: bis) the netconf-client-server RFC.

