allow notifications/actions to appear in invalid contexts

For example, RFC 7950 Section 7.16 says:
```
  A notification MUST NOT be defined within an rpc, action, or another
  notification, i.e., a notification node MUST NOT have an rpc, action,
  or a notification node as one of its ancestors in the schema tree.
  For example, this means that it is an error if a grouping that
  contains a notification somewhere in its node hierarchy is used in an
  rpc definition.
```
But sometimes a `grouping` contains a `notification` or an `action`, and thus is currently disqualified from being *used* inside (in this case) a `notification`.

Ideally such cases would be ignored, perhaps generating a warning.

In the meanwhile, per [this discussion](https://mailarchive.ietf.org/arch/msg/netconf/HVrScKBJ0aPKkirhVEUZUgxJblI), we may create a "data-only" version of every grouping containing an `action` or `notification` solely to work around this constraint.



Support these changes but they may be complicated to implement.
The compiler would skip these nodes during uses-stmt processing.

Complexity: medium, bc: high, importance: medium


Why is it complex to skip nodes during uses-stmt processing?

importance high IMO, since the fallback is not good.

Support if the invalid context notification/action is ignored.
